<!DOCTYPE html>
<html>
<head>
  <title>About SourceFile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f1f1f1;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }
    nav {
				background-color: #333;
				color: #fff;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			nav li {
				float: left;
			}

			nav a {
				display: block;
				color: #fff;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			nav a:hover {
				background-color: #555;
			}
  </style>
</head>
<body>
  <br />
  <div class="container">
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="wiki">Wiki</a></li>
      </ul>
    </nav>
    <br />
    <h2>About SourceFile</h2>
    <p>
      SourceFile is a private access download site for projects available on the Dusk&Rain GitHub and BreakingRain Security LLC GitHub. It was founded in 2022 and serves as a centralized hub for accessing and downloading various projects and resources provided by these organizations.
    </p>
    <p>
      Our goal is to provide a convenient platform for users to explore and acquire the latest projects from Dusk&Rain and BreakingRain Security LLC. By offering a curated selection of software, tools, and resources, we aim to support developers and security enthusiasts in their projects and endeavors.
    </p>
    <p>
      Please note that access to SourceFile is restricted to authorized individuals with valid credentials. If you are a member of Dusk&Rain or BreakingRain Security LLC, you can log in using your provided account information. For any inquiries or assistance, please reach out to our support team.
    </p>
</body>
</html>
