---

---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js"
      defer></script>
  </head>
  <body>
    <div
      x-data="{
    downloadFile: function(url) {
      const link = document.createElement('a');
      link.href = url;
      link.download = '';
      link.click();
    }
  }"
    >
      <div class="download-manager">
        <div class="download-item">
          <div class="download-icon">
            <i class="fas fa-file"></i>
          </div>
          <div class="download-info">
            <h3 class="download-title">File Title</h3>
            <p class="download-size">File Size</p>
          </div>
          <button
            class="download-button"
            x-on:click="downloadFile('path/to/your/file')">Download</button
          >
        </div>
      </div>
    </div>
  </body>
</html>
