---

---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sourcefile Wiki</title>
    <style>
        /* CSS styles for the navigation bar */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: #3c8ce1;
            color: #fff;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        nav li {
            float: left;
        }
        nav a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #555;
        }
 .marquee {
 background-color: yellow;
 color: black;
    }
    </style>
    <head>
    <body>
    <nav>
        <ul>
            <li><a href="https://johntebrown.github.io/Sourcefile-Website-Revamped/">Home</a></li>
            <li><a href="https://johntebrown.github.io/Sourcefile-Website-Revamped/about">About</a></li>
            <li><a href="https://johntebrown.github.io/Sourcefile-Website-Revamped/contact">Contact</a></li>
            <li><a href="https://johntebrown.github.io/Sourcefile-Website-Revamped/wiki">Wiki</a></li>
        </ul>
    </nav>
    <marquee class="marquee">Sourcefile is currently undergoing maintenance, things may be broken or unfinished.</marquee>
    <br />
    <h3>Wiki Information</h3>
    <hr />
    <p>welcome to the sourcefile wiki, this catagorizes and logs all the software ready for download.</p>
    <p><strong>the software he is free and shall not be redisturbed in a non-free manner.</strong></p>
    <p></p>
    </body>
</html>
