---
import { DownloadManager } from '../components/DownloadManager.ts';
			import { html, render } from 'lit';

			const root = document.getElementById('root');
			render(html`<download-manager></download-manager>`, root);
---

<html lang="en">
	<head>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sourcefile</title>
		<style>
			/* CSS styles for the navigation bar */
			body {
				margin: 0;
				font-family: Arial, sans-serif;
			}

			nav {
				background-color: #3c8ce1;
				color: #fff;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			nav li {
				float: left;
			}

			nav a {
				display: block;
				color: #fff;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			nav a:hover {
				background-color: #555;
			}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="https://johntebrown.github.io/Sourcefile-Website-Revamped/">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="wiki">Wiki</a></li>
			</ul>
		</nav>
		<br />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus aliquam odio, sed tincidunt risus tristique sed. Nulla vestibulum malesuada tortor, ut finibus ligula varius et. Nullam vitae sem et ex pellentesque condimentum nec in tellus. Aliquam at ligula ligula. Vivamus sem ipsum, faucibus vel consectetur id, eleifend at tellus. Cras consectetur metus eu ipsum consectetur faucibus. Nam consectetur lectus eu ligula laoreet condimentum. Proin consectetur rutrum diam, ac blandit metus ullamcorper at. Donec malesuada elit ut dolor varius posuere. Nullam at convallis ipsum.

Suspendisse cursus scelerisque tortor, at condimentum mauris tristique eu. Maecenas at ex ligula. Aliquam erat volutpat. In id erat vitae ipsum fringilla lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed non ullamcorper mi, eget varius dui. Fusce et mauris eget arcu facilisis interdum. Maecenas vestibulum, quam id elementum aliquam, urna risus gravida dolor, ac rutrum turpis massa vel ligula. Etiam ultrices libero non erat auctor, in vulputate ipsum ultrices. Curabitur malesuada metus id nisl aliquam, sed lacinia enim tincidunt. Mauris facilisis vulputate eros, in malesuada velit tincidunt nec. Suspendisse potenti. Aenean dignissim libero augue, at egestas neque feugiat id. Suspendisse commodo enim sed diam viverra, at consequat nunc feugiat. Nunc vitae odio at metus dignissim congue. Cras vitae pharetra lacus.
		</p>
		<p></p>
		<p></p>
		<br />

		  <download-manager></download-manager>
	</body>
</html>
