import { LitElement, html, css, property, customElement } from 'lit-element';

interface DownloadFile {
  name: string;
  url: string;
}

@customElement('download-manager')
class DownloadManager extends LitElement {
  @property({ type: Array }) files: DownloadFile[] = [];

  static styles = css`
    .file-list {
      list-style-type: none;
      padding: 0;
    }

    .file-list-item {
      display: flex;
      align-items: center;
      padding: 8px;
      border-bottom: 1px solid #ccc;
    }

    .file-name {
      flex: 1;
    }

    .file-download-button {
      margin-left: 8px;
    }
  `;

  render() {
    return html`
      <ul class="file-list">
        ${this.files.map(file => html`
          <li class="file-list-item">
            <div class="file-name">${file.name}</div>
            <button class="file-download-button" @click=${() => this.downloadFile(file.url)}>
              Download
            </button>
          </li>
        `)}
      </ul>
    `;
  }

  downloadFile(url: string) {
    // Perform download logic here
    console.log('Downloading file:', url);
  }
}
